.category-filter {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.category-filter > div {
  text-align: center;
}

.category-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
}

.category-image:hover {
  transform: scale(1.05);
}
